.mat-form-field{
    width: 100%;
}

.mat-input-element {
    color: #ffff;
}
.mat-form-field-label {
    color: #ffff;
}
.mat-form-field-underline {
    background-color: #ffff;
}
.mat-form-field-ripple {
    background-color: #ffff;
}
.mat-form-field-required-marker {
    color: #ffff;
}

/* focused */

/* .mat-form-field-label {
    color: #ff884d;
}
.mat-form-field-ripple {
    background-color: #ff884d;
}
.mat-form-field-required-marker {
    color: #ff884d;
}
.mat-input-element {
    color: #ff884d;
} */

/* invalid */
.mat-input-element {
    color: #ffff;
}
.mat-form-field-label {
    color: #ffff;
}

.mat-form-field-label .mat-form-field-required-marker {
    color: #ffff;
}
.mat-form-field-ripple {
    background-color: #ffff;
}
.mat-input-underline {
    background-color: white;
 }

 .mat-form-field-appearance-fill .mat-form-field-flex{
     padding: 0 .5rem !important;
 }
 .mat-form-field.mat-focused .mat-form-field-label{
    color: #ffff;
 }
 .mat-form-field-underline{
     display: none;
 }