<div *ngIf="this.loading">
  <div class="overlay"></div>
  <div class="centered">
    <div class="loader"></div>
  </div>
</div>

<div>
    <div class="max-w-3xl mx-auto my-8">
      <!-- <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
          <p class="mt-1 text-sm text-gray-600">This information will be displayed publicly so be careful what you share.</p>
        </div>
      </div> -->
      <div class="mt-5 md:mt-0">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-4">
                    <label for="category_id" class="block text-sm font-medium text-gray-700">Select category</label>
                    <select formControlName="category_id" name="category_id" id="category_id" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      <ng-container *ngFor="let category of this.categories">
                           <option value="{{category._id}}">{{category.title}}</option>
                        </ng-container>
                    </select>
                    <ng-container *ngIf="submitted && f['category_id'].errors">
                      <span *ngIf="f['category_id'].errors['required']" class="text-red-500 text-sm">Select a category!</span>
                   </ng-container>
                </div>
              </div>

                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                         <input type="text" formControlName="title" name="title" id="title" autocomplete="given-title" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                         <ng-container *ngIf="submitted && f['title'].errors">
                            <span *ngIf="f['title'].errors['required']" class="text-red-500 text-sm">Title is required!</span>
                         </ng-container>
                      </div>
    
                    <div class="col-span-6 sm:col-span-3">
                        <label for="tagline" class="block text-sm font-medium text-gray-700">Tagline</label>
                        <input type="text" formControlName="tagline" name="tagline" id="tagline" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <ng-container *ngIf="submitted && f['tagline'].errors">
                          <span *ngIf="f['tagline'].errors['required']" class="text-red-500 text-sm">Tagline is required!</span>
                       </ng-container>
                      </div>
                </div>
  
                
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                        <input type="text" formControlName="price" name="price" id="price" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        <ng-container *ngIf="submitted && f['price'].errors">
                          <span *ngIf="f['price'].errors['required']" class="text-red-500 text-sm">Price is required!</span>
                       </ng-container>
                    </div>
    
                    <div class="col-span-6 sm:col-span-3">
                         <label for="discount" class="block text-sm font-medium text-gray-700">Discount(%)</label>
                         <input type="text" formControlName="discount" name="discount" id="discount" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                         <ng-container *ngIf="submitted && f['discount'].errors">
                          <span *ngIf="f['discount'].errors['required']" class="text-red-500 text-sm">Discount is required!</span>
                        </ng-container>
                    </div>
                </div>
                <div>
                    <label for="details" class="block text-sm font-medium text-gray-700">Details</label>
                    <div class="mt-1">
                    <textarea id="details" formControlName="details" name="details" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                    <ng-container *ngIf="submitted && f['details'].errors">
                      <span *ngIf="f['details'].errors['required']" class="text-red-500 text-sm">Details is required!</span>
                    </ng-container>  
                  </div>
                    <p class="mt-2 text-sm text-gray-500">Brief description for this product.</p>
                </div>
  
              <div>
                <label class="block text-sm font-medium text-gray-700"> Product images </label>
                
                <file-pond #pFiles 
                    [options]="pondOptions" 
                    [files]="pondFiles"
                    (oninit)="pondHandleInit()"
                    (onaddfile)="pondHandleAddFile($event)"
                    (onactivatefile)="pondHandleActivateFile($event)">
                </file-pond>
              </div>
          
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center py-1.5 px-8 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-regal-red ">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
